.App {
  text-align: center;
}

.body{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
}

h1,h2,h3,h4,p,li,span{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* start of header */

.mdl-layout__header-row {
    height: 56px;
    padding: 5px 16px 0px 60px;
}


.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 100%;
  margin-bottom: 25px;
}

.search input {
  width: 100%;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.search input { text-indent: 32px;}

.search .search-icon{
  position: absolute;
  top: 7px;
  left: 5px;
}

/* end of header */

/* start of movie list */

.media-object {
  display: block;
  width: 200px;
  height: 200px;
}

h4.title {
    text-align: left;
    font-weight: 800;
    color:#000;
}

.list-group-item {
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-right: none !important;
}

img.reviewer-img {
   width: 40px;
}

.reviewer {
    margin-top: 30px;
}

.main-cast {
  width: 100%;
  text-align: left;
  margin-left: -42px;
  color: #666;
}


ul#cast-list li{
    list-style-type: none;
    display: inline;
    margin:5px;
    font-size:16px;
    text-align:left;
}

.reviewer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imdbScore {
    margin-left: 10px;
    margin-right: 10px;
}

.rottenTomatoesScore {
    margin-left: 10px;
    margin-right: 10px;
}


/* end of movie list */

/* start of detail page */
.arrow_back{
  position: absolute;
  top:10px;
  color: #fff;
  font-weight: lighter;
  font-size: 36px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    height: 3px;
    background: rgba(255,255,255,1) !important;
}

.flex-container{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item{
  padding: 1em;
  text-align: left;
  width: 200px;
}

li.genre, li.runtime {
    color: #888;
}

p.sub{
  color:#222;
  font-size:1.2em;
}

.reviewer-flex-container{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-items{
  padding: 1em;
  text-align: left;
}

.flex-items img {
    width: 50px;
    margin: 0 26px 0 44px;
    vertical-align: middle;
}

.rottenImage{
  margin-top:-10px;
}

.text-flow {
  font-size: 1.4em;
  line-height: 1.5em;
  color: #666;
  padding: 5px 10px 5px 51px;
}
/* end of detail page */

/* start of episode tab of detail page */
.flex-container-1 {
    display: flex;                    /* establish flex container */
    flex-direction: row;              /* flex items will align horizontally */
    justify-content: center;          /* align flex items horizontally */
    align-items: center;              /* align flex items vertically */

    /* for demo purposes only */
    width: 400px;
}

.flex-container-1 > .flex-item {
    flex: 0 0 45%;
    margin-right: 8px;             /* a bit of space between centered flex items */
}

.flex-item-1 {
    margin: 10px;
}

.flex-container-2 {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;         /* flex items (in second column) will stack vertically */
    justify-content: space-between; /* align flex items vertically */
    color:#888;
}

.flex-container-2 > .flex-item {
    flex: 0 0 22%;
}

.flex-item-2{
  margin: -45px 0px 0px 20px !important;
  color:#777;
}

.episodeName{
  font-size:1.4em;
}

.time{
  color:#999;
}
/* end of episode tab of detail page */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
